.Header-container {
  padding:10px;
  background-color: var(--main-color);
  display:flex;
  justify-content: space-between;
  align-items:center;
  color: white;
}

.Header-container h1 {
  margin:0
}

.Header-container p {
  margin:0;
}

.Header-container .nav{
  display:flex;
  flex-direction: row;
}

.Header-container .nav > *{
  margin-right:30px;
}

.Header-container a {
  color:white;
  text-decoration: none;
}

.Header-container a:hover{
  color:green;
}