:root {
  --main-color: #21A464;
  --secondary-color: #257a51;
}

*{
  box-sizing: border-box;
}

.App{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height:100vh;
}

.btn{
  border:0px;
  background-color: var(--main-color);
  text-decoration: none;
  color:white;
  text-align: center;
  padding:4px 8px;
  margin:5px;
}

.btn:hover{
  cursor:pointer;
  background-color: var(--secondary-color);
}