.collable{
  display:flex;
  flex-wrap:nowrap;
  flex-direction:column;
  border:1px solid black;
  margin:50px 10px 10px 10px;
}

.noselect{
  user-select:none
}

.collable-row{
  position:relative;
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  justify-content: space-around;
}

.collable-row div{
  position:relative;
  display:flex;
  flex-grow:1;
  justify-content: center;
  align-items: center;
  padding:10px;
  border: 1px solid black;
  width:1000px;
}

.collable-row:nth-child(1){
  color:white;
  background:#474747;
}

.collable-row:nth-child(even){
  background:#d1d1d1;
}

.collable-row div:nth-child(1){
  color:white;
  background:#474747;
}

.selected{
  z-index:1;
}
