.Auth-Page-Container{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: var(--background-color);
}

.Auth-Page-Form{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: white;
  padding:10px;
  box-shadow: var(--shadow);
}

.Auth-Page-Form h2{
  margin: 0 0 10px 0;
}

.Auth-Page-Formrow{
  display:flex;
  margin:8px;
}

.Auth-Page-Formrow > *{
  margin:8px;
}

.Form-Error{
  color:red;
  margin:5px 10px;
  padding:0px;
}